@using Howzzzat.Models;
@model List<LiveScore>




@{
    ViewBag.Title = "List";

        
}

@foreach (var item in Model)
{
    <div>@item.MatchName</div>
    <div>@item.CurrentScore</div>
    <hr />
}
<hr />

