@model Howzzzat.Models.Article

<div class="panel panel-default">
        <div class="panel-body">

            <div class="span3 well">
                <h4>
                    @Model.Author
                </h4>
            </div>
            <div class="span9">
                <div>
                    <h4>@Model.Title</h4>
                </div>
                <div>@Html.Raw(Model.Content.Substring(0, 300))</div>

            </div>
            @*<div>
                @Html.Partial("_ArticlesStats", Model.Stat)
            </div>*@
        </div>
    </div>